:root {
    --bg-color: #00c7ae;
    --primary-color: white;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

}


.header {
    display: flex;
    justify-content: space-between;

}

.header_logo {
    background-color: var(--bg-color);
    width: 50%;
    padding: 1em;
    text-align: center;
}


.header_logo a {
    color: var(--primary-color);
    font-size: 2em;
    font-weight: 700;
}

.header_nav {
    padding-right: 3em;
    padding-top: 1em;
    cursor: pointer;

}

.header_menu {
    display: inline-block;
    position: absolute;
    top: 70px;
    right: 0;
    max-height: 0;
    overflow: hidden;
    background-color: black;
    z-index: 1;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}



.header_menu li a {
    color: var(--primary-color);
    display: block;
    padding: 20px;
}

.header_menu li a:hover {
    background-color: rgb(24, 24, 24);
}

.menu-icon {
    height: 24px;
    display: inline-block;
    cursor: pointer;
    
}

.menu-btn:checked~.header_menu {
    max-height: 100vh;
    transition: all 1s ease-in-out;
}

.menu-btn:checked+.menu-icon .nav-icon {
    background-color: transparent;
}

.nav-icon {
    width: 24px;
    height: 4px;
    background-color: black;
    display: inline-block;
    position: relative;
    cursor: pointer;

}

.nav-icon::after,
.nav-icon::before {
    width: 24px;
    height: 4px;
    background-color: black;
    display: inline-block;
    content: "";
    position: absolute;
}

.nav-icon::after {
    transform: translateY(8px);

}

.nav-icon::before {
    transform: translateY(-8px);
}


.menu-btn:checked+.menu-icon .nav-icon::before {
    transform: rotate(45deg);
}

.menu-btn:checked+.menu-icon .nav-icon::after {
    transform: rotate(-45deg);
}



#menu-btn {
    display: none;
}


.content-wrapper-center {
    background-image: url(../img/herobg.jpg);
    background-size: cover;
    height: 100vh;

}

.content-wrapper-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    position: absolute;
    margin: 100px 0 50px 0;
    background-color: var(--bg-color);
    padding: 20px;
    display: block;
    color: var(--primary-color);
}

.content-wrapper_description {
    position: absolute;
    margin: 230px 0 50px 0;
    display: block;
    background-color: black;
    color: var(--primary-color);
    padding: 20px;
}

.btn {
    display: block;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
}

.buy-it {
    position: absolute;
    margin: 330px 0 50px 0;
    display: block;
    background-color: rgba(0, 0, 0, .2);
    width: 120px;
    height: 40px;
    border: none;
    outline: 1px solid white;
    text-transform: uppercase;

    cursor: pointer;
}

.buy-it a {
    color: var(--primary-color);
}

.list-wrapper {
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.list-Item__image {
    background-image: url(../img/c01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:calc(100% - 30px);
    text-align: center;
    

}
.list-wrapper{
    margin: 0;
}

.list-Item__image img {   
    margin-top: 260px;
    border-radius: 50%;
}

.list-item__content {    
    display: block;
    text-align: left;
    padding: 1.16em;
}

.list-item__title {
    font-size: 1.5em;
    color: rgba(0, 0, 0, .3);
}

.list-item__description {
    margin-top: 20px;
}

.text-warpper {
    margin: 0 auto;
    text-align: left;
    padding: 40px;

}

.button {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.btn1 {
    

}

.btn1 a {
    color: var(--primary-color);
    background-color: var(--bg-color);
    padding: 15px 30px 15px 30px;
    border-radius: 4px;
}

.btn2 {
    
}

.btn2 a {
    color: var(--primary-color);
    background-color: #353535;
    padding: 15px 30px 15px 30px;
    border-radius: 4px;
}
.btn2 a:hover{
    background-color: #5e5d5d;
    
}
.btn1 a:hover{
    background-color: #03e2c4;
    
}

.galery-title {
    background-color: var(--bg-color);
    padding: 20px;
    color: var(--primary-color);
}


.galery-wapper a {
    text-align: center;
    margin: 0;
}

.galery-wapper img {
    max-width: 100vh;
    max-height: 300px;
}

.galery-wapper img:hover {
    opacity: .8;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
.images a{
    margin: 0;
    padding: 0;
    max-height: 300px;
    
}



.slide-wapper {
    background-color: #353535;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.fa-solid {
    color: white;
    font-size: 25px;
}

.fa-solid:hover {
    color: var(--bg-color);
}

.fa-chevron-left {
    float: right;
}

.slide-wapper a,
.slide-wapper img {
    margin: 100px 0;
    width: 250px;
}

footer {
    background-color: var(--bg-color);
}

.logo-footer {
    padding: 20px;
}

.footer-description {
    padding: 20px;
    color: var(--primary-color);
}

.footer-list {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.footer-list a {
    text-align: center;
    color: var(--primary-color);
    padding: 20px;
    display: block;
    width: 200px;
}



@media screen and (min-width: 46.25em) {    

   
    .list {
        width: 90%;
            
        flex-direction: row;
        flex-wrap: wrap;        
        margin: 0 auto;        
       
    }
    .list-item{
        flex-basis: 350px;
               
    }
    .list-Item__image img { 
        margin-top: 150px;
    }

    .listItem {
        display: flex;
        justify-content: space-between;        
        margin: 0 auto;
        padding: 50px;        
        width: 90%;
        line-height: 1.4;
    }

    .button {
        justify-content:center;
        gap: 16px;
    }

    .slide-wapper a,
    .slide-wapper img {
        margin: 100px 0;
        width: 700px;
    }

    .footer-list a {
        font-size: 1.2em;
    }
}

@media screen and (min-width:80em) {
    .header_logo {
        width: 25%;
    }
    
    .menu-btn, .menu-icon{
        display: none;
    }
    .header_menu {
        display: block;
        position: absolute;
        top: 0;
        background-color: transparent;        
        width: 75%;
        overflow: visible;
    }

    
    .header_menu li{
        display: inline-block;
    }

    .header_menu li a{
        color: black;
    }
    .header_menu li a:hover{
        background-color: transparent;
        color: var(--bg-color);
    }

    .list-wrapper {
        
    }

    .list {
        flex-wrap: nowrap;
    }
   

    .listItem{
        width: 60%;
        
    }
    .listItem__content{
        padding: 16px;
    }
    .button{
        justify-content: center;
        gap:16px
    }

    .images{        
       flex-direction: row;
       flex-wrap: wrap;
       
    }

    .images a{
        
        height: 320px;
        
    }
    .images a img {
       
        width: 300px;
        
    }
}